body{
    background-color: rgb(157, 134, 215);
    color: ghostwhite; 
    font-family: 'Nosifer', sans-serif;
    font-family: 'Zilla Slab', serif;
}
/*soy un comentario*/ /*RGB=Red, Green y Blue*/

h1{
    color: black; /*Se puede usar el codigo hexadegacimal de html, #FF000*/
}
 h3, p {
    color: black;
 }

 /*En index, se le añade la etiqueta class="img1" para hacer el camio especificamente en una sola imagen*/
 .img1{
    width: 300px; /*ancho*/
    height: 300px; /*alto*/
    border-style:double;
    border-width: 3px;
    border-color: blueviolet;
    margin-left: 50px;
    margin-bottom: 20px; /*bottom- viene de fondo*/
    margin: top 20px; /*Top-viene de arriba*/
    padding: 3px; /*Padding, es la el espacio entre la imagen y el borde*/
 } 
 
 .img2{
    width: 300px; /*ancho*/
    height: 300px; /*alto*/
    border-style: outset double;
    margin-left: 50px;
 }

 footer{
    background-color: blueviolet;
 }

 small, a{
    color:snow;
 }
 
 a{
    color:rgba(255, 250, 250, 0.562);
 }